<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @preparation_type.name %>
</p>

<%= link_to 'Edit', edit_preparation_type_path(@preparation_type) %> |
<%= link_to 'Back', preparation_types_path %>
